.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    height: 36px;
    width: 105px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.join-button{
    background-color: white;
    color: blue;
    border-color: blue;
    height: 36px;
    width: 5%;
    border-style: solid;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    margin-left: 8px;
}

.tweet{
    background-color: rgba(55, 129, 193, 0.826);
    color: white;
    border: none;
    border-radius: 50px;
    height: 36px;
    width: 105px;
}